:root {
  --main-color: #f1f1f1;

  --box-color: #fff;

  --font-color-white: #ffffff;
  --font-color-ashGrey: #606060;

  --background-color-white: #ffffff;
  --background-color-Purple: #421b4b;
  --background-color-DarkPurple: #3c1844;
  --background-color-LightPurple: #6b4579;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-color: #121212;

    --box-color: rgb(38, 114, 114);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: var(--main-color);
}

body {
  background-color: var(--main-color);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
